<footer class="footer">
    <!-- Navbar section -->
    <nav class="footer__navbar">
        <ul class="footer__navbar__list">
            <a class="footer__navbar__list__link" href="./about-us.html">
                <li class="footer__navbar__list__link__about-us">
                    about us
                </li>
            </a>
            <a class="footer__navbar__list__link" href="./media-assets.html">
                <li class="footer__navbar__list__link__media-assets">
                    media assets
                </li>
            </a>
            <a class="footer__navbar__list__link" href="./product-releases.html">
                <li class="footer__navbar__list__link__product-releases">
                    product releases
                </li>
            </a>
            <a class="footer__navbar__list__link" href="./contact.html">
                <li class="footer__navbar__list__link__contact">
                    contact
                </li>
            </a>
        </ul>
    </nav>
    <!-- Social media section -->
    <ul class="footer__social-section">
        <li class="footer__social-section__list">
            <a href="https://www.facebook.com/" class="footer__social-section__list__facebook" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>

        <li class="footer__social-section__list">
            <a href="https://twitter.com/home" target="_blank" class="footer__social-section__list__twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>

        <li class="footer__social-section__list">
            <a href="https://www.instagram.com/" target="_blank" class="footer__social-section__list__instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
    </ul>
</footer>