<nav class="navbar">
    <ul class="navbar__list">
        <a class="navbar__list__link" href="./about-us.html">
            <li class="navbar__list__link__about-us">
                about us
            </li>
        </a>
        <a class="navbar__list__link" href="./media-assets.html">
            <li class="navbar__list__link__media-assets">
                media assets
            </li>
        </a>
        <a class="navbar__list__link" href="./product-releases.html">
            <li class="navbar__list__link__product-releases">
                product releases
            </li>
        </a>
        <a class="navbar__list__link" href="./contact.html">
            <li class="navbar__section__navbar__list__link__contact">
                contact
            </li>
        </a>
    </ul>
</nav>