$defaultFontSize: 16;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//  ******* Colors *******

$text-color: #222;
$content-color: #484848;
$date-color: #717171;
$primary-color: #FF5A5F;
$background-color:#f7f7f7;

// ******* Fonts *******

$regular-roboto-font-14px: 400 14px 'Public Sans', sans-serif;
$bold-roboto-font-14px: 700 14px 'Public Sans', sans-serif;
$bold-roboto-font-16px: 700 16px 'Public Sans', sans-serif;
$light-roboto-font-14px: 300 14px 'Public Sans', sans-serif;
$light-roboto-font-12px: 300 10px 'Public Sans', sans-serif;
$bold-roboto-font-24px: 700 24px 'Public Sans', sans-serif;