$defaultFontSize: 16;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//  ******* Colors *******

$text-color: #222;
$date-color: #717171;
$primary-color: #FF5A5F;

// ******* Fonts *******

$regular-roboto-font-14px: 400 14px 'Open Sans', sans-serif;
$light-roboto-font-14px: 300 14px 'Open Sans', sans-serif;
$bold-roboto-font-24px: 700 24px 'Open Sans', sans-serif;