* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none;
  border: none; }

html {
  scroll-behavior: smooth; }

a {
  color: inherit; }

@media all and (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.header__link {
  padding: 0 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  @media all and (min-width: 700px) {
    .header__link {
      padding: 0 2.5rem; } }
  @media all and (min-width: 1024px) {
    .header__link {
      margin-top: 0;
      padding: 1.5rem 0; } }

.navbar {
  padding: 0 1.5rem;
  margin-top: 2rem;
  font: 400 14px "Public Sans", sans-serif; }
  @media all and (min-width: 700px) {
    .navbar {
      padding: 0 2.5rem;
      margin-bottom: 3.5rem; } }
  @media all and (min-width: 1024px) {
    .navbar {
      margin: 0;
      padding: 0; } }
  .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    @media all and (min-width: 700px) {
      .navbar__list {
        gap: 5rem; } }
    .navbar__list__link::first-letter {
      text-transform: capitalize; }
    .navbar__list__link:hover {
      text-decoration: underline; }

@media all and (min-width: 1024px) {
  .main {
    display: flex;
    gap: 6rem; } }

.main__section__articles__list:nth-child(even) .main__section__articles__list__link__article {
  flex-direction: row-reverse; }

.main__section__articles__list__link__article {
  margin-top: 2.5rem; }
  @media all and (min-width: 700px) {
    .main__section__articles__list__link__article {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem; } }
  .main__section__articles__list__link__article__image {
    width: 100%;
    max-height: 20rem;
    border-radius: 1rem; }
    @media all and (min-width: 700px) {
      .main__section__articles__list__link__article__image {
        width: 50%; } }
  .main__section__articles__list__link__article__container__title {
    margin-top: 0.5rem;
    color: #222;
    font: 700 24px "Public Sans", sans-serif;
    line-height: 1.6rem; }
  .main__section__articles__list__link__article__container__content, .main__section__articles__list__link__article__container__quote {
    margin: 0.5rem 0;
    color: #484848;
    font: 400 14px "Public Sans", sans-serif;
    line-height: 1.2rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3; }
  .main__section__articles__list__link__article__container__date {
    font: 300 14px "Public Sans", sans-serif;
    color: #717171; }

@media all and (min-width: 1024px) {
  .main__aside {
    background-color: whitesmoke;
    padding: 1rem; } }

.main__aside__title {
  margin-top: 2.5rem;
  font: 700 24px "Public Sans", sans-serif;
  color: #222; }
  @media all and (min-width: 1024px) {
    .main__aside__title {
      text-align: center; } }
  .main__aside__title::first-letter {
    text-transform: capitalize; }

.main__aside__link__article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  color: #222; }
  @media all and (min-width: 700px) {
    .main__aside__link__article {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; } }
  @media all and (min-width: 1024px) {
    .main__aside__link__article {
      flex-direction: column; } }
  .main__aside__link__article__image {
    width: 10rem;
    border-radius: 0.8rem; }
  .main__aside__link__article__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    .main__aside__link__article__text-container__title {
      font: 700 14px "Public Sans", sans-serif;
      line-height: 1rem; }
      @media all and (min-width: 700px) {
        .main__aside__link__article__text-container__title {
          font-size: 1rem; } }
    .main__aside__link__article__text-container__date {
      margin-top: 0.5rem;
      font: 300 10px "Public Sans", sans-serif;
      color: #717171; }

.footer {
  width: 100%;
  background-color: #f7f7f7;
  padding: 1.5rem 0;
  font: 400 14px "Public Sans", sans-serif;
  margin-top: 2rem; }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer__container__navbar__list__link {
      color: #222; }
      .footer__container__navbar__list__link__help-center::first-letter, .footer__container__navbar__list__link__work-with-us::first-letter {
        text-transform: capitalize; }
    .footer__container__social-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem; }
      .footer__container__social-section__list__facebook, .footer__container__social-section__list__twitter, .footer__container__social-section__list__instagram {
        color: #222;
        font-size: 1.2rem; }

.main-pages-template {
  margin-top: 2rem;
  height: 65vh;
  padding: 0 2.5rem;
  color: #222;
  text-align: center; }
  @media all and (min-width: 700px) {
    .main-pages-template {
      min-height: 73vh; } }
  @media all and (min-width: 1024px) {
    .main-pages-template {
      min-height: 85vh; } }
  .main-pages-template__title {
    font: 700 24px "Public Sans", sans-serif;
    text-transform: capitalize; }
  .main-pages-template__subtitle {
    margin-top: 1rem;
    font: 700 16px "Public Sans", sans-serif; }
  .main-pages-template__content {
    margin-top: 1.2rem;
    font: 400 14px "Public Sans", sans-serif;
    color: #222; }

.container {
  padding: 0 1rem; }
  @media all and (min-width: 700px) {
    .container {
      margin: auto;
      max-width: 80rem; } }

/*# sourceMappingURL=main.css.map */
