.header {
    &__link {
        padding: 0 1.5rem;
        margin-top: 2.5rem;
        @include displayFlex(row, center, center);
        gap: 1rem;

        @include tablet {
                padding: 0 2.5rem;
        }
    }
}