.navbar {
    padding: 0 1.5rem;
    margin-top: 2rem;
    font: $regular-roboto-font-14px;

    @include tablet {
        padding: 0 2.5rem;
        margin-bottom: 3.5rem;
    }

    @include desktop {
        margin: 0;
        padding: 0;
    }
    
    &__list {
        @include displayFlex(row, center, center);
        gap: 2rem;

        @include tablet {
            gap: 5rem;
        }

        &__link::first-letter {
            text-transform: capitalize;
        }
        &__link:hover {
            text-decoration: underline;
        }
    }
}