@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'layout/header';
@import 'layout/navbar';
@import 'layout/main';
@import 'layout/footer';
@import 'pages/pages-template';

.container {
    margin: auto;
    max-width: 80rem;
    padding: 0 1rem;
}